.hero .up {
  position: relative;
  top: -99px;
  left: 22px;
}
.hero .down {
  position: relative;
  top: 4px;
  left: 2px;
}
.hero .down img {
  transform: rotate(180deg);
}
.hero .left {
  position: relative;
  top: -48px;
  left: -69px;
}
.hero .left img {
  transform: rotate(-90deg);
}
.hero .right {
  position: relative;
  top: -69px;
  left: 72px;
}
.hero .right img {
  transform: rotate(90deg);
}
